app-submit {
  display: block;
  padding: 10px;
}

app-submit h2,
app-submit h4,
app-submit p {
    text-align: center;
}

#submit-component {
  max-width: 400px;
  margin: 0 auto;
}

#submit-component input {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #a4a0a0;
  font-size: 1em;
  color: #2f2f35;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#submit-component input[type="submit"] {
  background: #5850ff;
  color: #ffffff;
  padding: 10px 8px;
  border-radius: 4px;
  border: none;
  width: 50%;
  margin: 20px auto;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#submit-component input[disabled] {
    opacity: 0.6;
}

#submit-component form p {
    font-size: 14px;
}

app-submit ul {
    margin: 0 auto 0 auto;
    max-width: 60%;
    color: #595968;
}

@media screen and (max-width: 722px) {

    app-submit ul {
        max-width: 90%;
    }
}
